

<form method="post" action="/">

    
    <div class="form-group" style= "position: absolute; right:40%">
        <label for="">Enter Student Name</label>
        <input type="text" class="form-control" name="username" placeholder="Userame">
    </div><br>


    <br>
    <button class="btn btn-outline-dark" style= "position: absolute; right:50%"  >Get Student Report</button>
    

  </form>